<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContactListApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBAACC971E9F61B8005E666F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBAACCAB1E9F61B9005E666F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBAACCB61E9F61B9005E666F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
